.linkButton {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;
  font: 10px/45px $circe-bold;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  background-color: $white;
  cursor: pointer;
  border: 1px solid #D2D2D2;
  border-radius: 100px;
  transition: color $transition-normal, background-color $transition-normal, border-color $transition-normal;

  &:hover {
    background-color: $white-light;
  }
}

.linkButton--small {
  width: 185px;
}

.linkButton--blue {
  color: $white;
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: #487fea;
    border-color: #487fea;
  }
}

.linkButton--icon {
  padding: 0 30px 0 50px;

  &.linkButton--small {
    padding: 0 45px 0 50px;
  }
}

.linkButton--violet {
  color: $white;
  background-color: #C25FBD;
  border-color: #C25FBD;

  &:hover {
    background-color: #d066ca;
    border-color: #d066ca;
  }
}

.linkButton--green {
  color: $white;
  background-color: #A3C65A;
  border-color: #A3C65A;

  &:hover {
    background-color: #9dbf57;
    border-color: #9dbf57;
  }
}

.linkButton--red {
  color: $white;
  background-color: #D06C6C;
  border-color: #D06C6C;

  &:hover {
    background-color: #c36565;
    border-color: #c36565;
  }
}



// icons
.linkButton__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.linkButton__icon--right {
  left: auto;
  right: 20px;
}



// in title
.titleMain__button {
  position: absolute;
  top: 2px;
  right: 0;
  width: auto;
}
