body {
  padding-top: 72px;
  font-size: 14px;
  line-height: 1.5;
  font-family: $circe-regular;
  color: $black;
  background-color: $input-bg;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.with-note {
    padding-bottom: 78px;
  }

  &.menu-opened {
    overflow: hidden;
  }
}

a {
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
  cursor: pointer;
}

.clearfix {
  @include clearfix();
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.forDesktop {
  display: block;
}

.forTablet {
  display: none;
}

.forMobile {
  display: none;
}

@media ($tablet) {
  .forTablet {
    display: block;
  }
}

@media ($mobile) {
  .forDesktop {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



.contentWrapper {
  padding-top: 72px;
}

.contentWrapperTop {
  padding-top: 105px;
}

.bgWhite {
  background-color: $white;
}

.titleMain {
  position: relative;
  font: 24px/32px $circe-bold;
  color: $black;
}

.titleMain--small {
  font-size: 20px;
  line-height: 29px;
}

.subtitleMain {
  position: relative;
  font: 20px/29px $circe-bold;
  color: $black;
}

.contentIn {
  position: relative;
  max-width: 1000px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media ($mobile) {
  .contentWrapper {
    padding-top: 0;
  }
}



.imgWrapper {

}

.imgWrapper__img {
  vertical-align: middle;
}
