body {
  padding-top: 72px;
  font-size: 14px;
  line-height: 1.5;
  font-family: $circe-regular;
  color: $black;
  background-color: #EFF1F5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
  cursor: pointer;
}

.clearfix {
  @include clearfix();
}

.nowrap {
  white-space: nowrap;
}

.forDesktop {
  display: block;
}

.forTablet {
  display: none;
}

.forMobile {
  display: none;
}

@media ($tablet) {
  .forTablet {
    display: block;
  }
}

@media ($mobile) {
  .forDesktop {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



.titleMain {

}

.contentIn {
  position: relative;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
