/*** browser fixes ***/
::-webkit-input-placeholder {color:#A4A4A4;}
::-moz-placeholder          {color:#A4A4A4;}/* Firefox 19+ */
:-moz-placeholder           {color:#A4A4A4;}/* Firefox 18- */
:-ms-input-placeholder      {color:#A4A4A4;}

input,
button {
  -moz-appearance:none;
  -webkit-appearance: none;
}

button {
  background-color: transparent;
}


// autocomplete
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}



// delete arrows
input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



// ie: clear 'x' icon in text field
::-ms-clear {
  display: none;
}

// ie: clear icon in password field
::-ms-reveal {
  display: none;
}



/*** common styles ***/
.form {

}

.formIn {
  margin: 0 0 35px;
  background: $white;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.08);
  border-radius: 5px;
}

.formContent {
  padding: 24px 25px 0;
}

.formTitle {
  margin: 0 0 4px;
  font-size: 16px;
  font-family: $circe-bold;
}



// form block
.formBlock {
  margin: 10px 0 0;
  padding: 35px 0 0;
}

.fieldWrapper {
  position: relative;
  display: block;
}

.fieldWrapper__label {
  display: inline-block;
  position: absolute;
  top: -27px;
  left: 0;
  cursor: pointer;
}

.fieldWrapper__input {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  background-color: $input-bg;
  border-radius: 3px;
}

.fieldWrapper__textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 170px;
  max-height: 300px;
  padding: 13px 15px;
  background: #EFF1F5;
  border-radius: 3px;
}



// form block cols
.formBlockWrapper {
  margin-right: -20px;
  @include clearfix();
}

.formBlock--2 {
  width: 50%;
  float: left;
  padding-right: 20px;
}



// buttons
.buttonContainer {
  position: relative;
  margin: 20px 0 0;
}

.buttonContainer--link {
  padding-right: 160px;

  .buttonContainer__link {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

.buttonContainer--center {
  text-align: center;

  .buttonContainer__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.buttonContainer__button {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.buttonContainer__link {
  font: 10px/18px $circe-bold;
  color: $blue;
  text-transform: uppercase;
}

.buttonContainer__info {
  margin: 20px 0 0;
  font: 12px/19px $circe-regular;
  color: #6D6D6D;
  text-align: center;
}



/*** persons info ***/
.formPersonInfo {
  position: relative;
  margin: 23px 0 27px;
  padding-left: 110px;
}

.formPersonInfo__avatar {
  position: absolute;
  top: 2px;
  left: 0;
  width: 80px;
  border-radius: 50%;
}

.formPersonInfoAbout {
  position: relative;
  padding: 22px 0 0;
  font: 12px/19px $circe-regular;
  color: #6D6D6D;
}

.formPersonInfoAbout__social {
  position: absolute;
  top: 0;
  left: 0;
}



/*** selectize ***/
.selectize-control.single .selectize-input {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  font: 14px/45px $circe-regular;
  color: $black;
  background: $input-bg;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color $transition-normal, border-color $transition-normal;
}

.selectize-control.single .selectize-input:after {
  right: 15px;
  border-color: #D8D8D8 transparent transparent;
}

.selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #D8D8D8;
}

.selectize-control.single .selectize-input.input-active {
  background: $input-bg;
  border-color: #E4E4E4;
  border-radius: 5px 5px 0 0;
}

.selectize-input input {
  font-size: 14px;
  color: $black;
}



.selectize-dropdown.single,
.selectize-dropdown {
  box-shadow: none;
  border-color: #E4E4E4;
}



.selectize-dropdown [data-selectable] {
  padding: 11px 15px;
  background: $input-bg;
  font: 14px/22px $circe-regular;
  color: #A4A4A4;
  border-bottom: 1px solid #E4E4E4;
  transition: background-color $transition-normal, color $transition-normal;

  &:hover {
    background: $white;
    color: $black;
  }

  &:last-child {
    border: 0;
  }
}

.selectize-dropdown .active {
  background: $white;
  color: $black;
}

.selectize-dropdown-content {
  max-height: 134px;
}
