doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title DealDep - projects unsigned - dogovor
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../../css/app.css"
  body

    .header
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          .menu
            a.menu__link.is-active href="#" Мои проекты
            a.menu__link href="#" Мой профиль
          .logined
            .loginedUser
              span.loginedUser__name Гужиков П. А.
              img.loginedUser__avatar src="../../img/avatars/avatar_pavel.png"
            a.notices href="#"
              span.notices__bell.icon.icon--bell
      .headerSubmenu
        .contentIn
          .submenuTitle
            .submenuTitle__imgWrapper.imgWrapper
              span.icon.icon--test
            h1.submenuTitle__title.titleMain Дилдеп Технолоджис
            p.submenuTitle__info Не подписано
          ul.submenu
            li.submenuItem
              a.submenuItem__link href="/projects/projects_participants_unsigned.html" Участники и карта
            li.submenuItem
              a.submenuItem__link.is-active href="/projects/projects_dogovor_unsigned.html" Договоренности
            li.submenuItem
              a.submenuItem__link href="/projects/projects_yurlitsa_unsigned.html" Юрлица

    .contentWrapperTop
      .docs
        .contentIn
          .titleMain
            | История договоренностей

          .empty
            .emptyIn
              .empty__imgWrapper.imgWrapper
                img.imgWrapper__img src="../img/icons/svg/docs.svg"
              .empty__title Здесь будут все Ваши договоренности, в виде полноценных документов.
              .empty__info Создать их можно будет после подписания проекта всеми участниками.
              a.empty__link.linkButton.linkButton--blue.linkButton--icon.popup-open data-popup="send-for-signature" href="#"
                | отправить на подпись
                span.linkButton__icon.icon.icon--sign


  .popup.send-for-signature
    span.popup__close.icon--close.popup-close
    p.popupTitle Отправить на подпись?
    p.popupSubtitle.popupSubtitle--small Приглашение подписать проект будет разослано следующим участникам

    ul.signatureList.colsFlex
      li.signatureListItem.colFlex--2
        img.signatureListItem__avatar src="../../img/avatars/avatar_pavel.png"
        p.signatureListItem__info Гужиков Павел
      li.signatureListItem.colFlex--2
        img.signatureListItem__avatar src="../../img/avatars/avatar_pavel.png"
        p.signatureListItem__info Гужиков Павел
      li.signatureListItem.colFlex--2
        img.signatureListItem__avatar src="../../img/avatars/avatar_pavel.png"
        p.signatureListItem__info Гужиков Павел
      li.signatureListItem.colFlex--2
        img.signatureListItem__avatar src="../../img/avatars/avatar_pavel.png"
        p.signatureListItem__info Гужиков Павел
      li.signatureListItem.colFlex--2
        img.signatureListItem__avatar src="../../img/avatars/avatar_pavel.png"
        p.signatureListItem__info Гужиков Павел

    .buttonContainer.buttonContainer--center
      button.buttonContainer__button.linkButton.linkButton--small.linkButton--blue type="submit" отправить
      button.buttonContainer__button.linkButton.linkButton--small.popup-close type="button" отменить



  script src="../../js/app.js"
