doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title DealDep - agreements - estimation signed
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../../css/app.css"
  body

    .header.header--border
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          h1.header__title Подписанная договоренность
          a.header__close.icon.icon--close href="#"

    section.addProjectSection
      .contentIn

        .addProject
          .addProjectAbout
            .addProjectAbout__title Порядок оценки стоимости бизнеса
            .addProjectAbout__info
              | Как участники будут оценивать стоимость бизнеса, по формуле или иначе

        form.form.form--content
          .formIn
            .formContent



    .note
      .contentIn
        .note__cols.colsFlex
          .colFlex--3
            span.participantsQuantity
              i 5
              |  участников
            .circlesParticipant
              img.circlesParticipant__item src="../../img/avatars/avatar_pavel.png"
              img.circlesParticipant__item src="../../img/avatars/avatar_pavel.png"
              img.circlesParticipant__item src="../../img/avatars/avatar_pavel.png"
              img.circlesParticipant__item src="../../img/avatars/avatar_pavel.png"
              img.circlesParticipant__item src="../../img/avatars/avatar_pavel.png"
          .colFlex--3.noteColButtons
            a.linkButton.linkButton--blue.linkButton--icon href="#"
              | изменить договоренность
              span.linkButton__icon.icon.icon--circulation_white
          .colFlex--3.noteSignedInfo
            span.icon.icon--signed
            span.noteSignedInfo__date Согласовано 22 июля 2017



  script src="../../js/app.js"
