doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title Forms - options
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../css/app.css"
  body

    .header.header--border
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          h1.header__title Новая договоренность
          a.header__close.icon.icon--close href="#"

    section.addProjectSection
      .contentIn

        .addProject
          .addProjectAbout
            .addProjectAbout__title Опционы

        form.form.form--content
          .formIn
            .formContent
              .formTitle Типы опционеров
              .formInfo Выберите какие типы опционов будет предусмотрены в проекте

              .formSwitch.tab-container
                .personEntityTabsWrapper.tab-link-container.slide
                  a.personEntityTabsWrapper__link.personEntityTabsWrapper__link--helper.tab-link href="#"
                  a.personEntityTabsWrapper__link.tab-link.is-active data-container-class="slide" href="#"
                .formSwitch__title Участник проекта
                .tab-content
                  .formBlock.formBlock--aside
                    .formBlock__title Выберите тип опциона
                    .formBlockIn
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input type="radio" name="options_type" value="options_type1"
                        span.fieldWrapper__checkInfo Право требовать у остальных участников покупку принадлежащей участнику/опционеру доли проекта (put option)
                        span.fieldWrapper__radioIcon
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input type="radio" name="options_type" value="options_type2"
                        span.fieldWrapper__checkInfo Право покупки доли проекта (call option)
                        span.fieldWrapper__radioIcon

                  .formBlock.formBlock--aside
                    .formBlock__title
                      | Выберите участников, к которым предъявляется требование
                      |  и их доли участия в реализациии
                    .formBlockIn
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input.formblock-toggle-link data-target="person addressee 1" type="checkbox" name="options_addressee_personally" value=""
                        span.fieldWrapper__checkInfo Павел Гужиков
                        span.fieldWrapper__checkboxIcon
                      .formBlock.formBlock--tooltip.formblock-toggle-hidden data-target="person addressee 1"
                        .triangleShadow.triangleShadow--top
                          span.triangleShadow__helper
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link type="radio" name="person_addressee1" value=""
                          span.fieldWrapper__checkInfo Пропорционально своей доли в проекте
                          span.fieldWrapper__radioIcon
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link data-target="person_addressee1" type="radio" name="person_addressee1" value=""
                          span.fieldWrapper__checkInfo Указать долю участия в реализации опциона
                          span.fieldWrapper__radioIcon
                        .formBlock.formBlock--slider.formblock-toggle-hidden data-target="person_addressee1"
                          label.fieldWrapper
                            input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                            span.fieldWrapper__dimension % доли в проекте
                          .formSliderSingle
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input.formblock-toggle-link data-target="person addressee 2" type="checkbox" name="options_addressee_personally" value=""
                        span.fieldWrapper__checkInfo Иван Ардинцев
                        span.fieldWrapper__checkboxIcon
                      .formBlock.formBlock--tooltip.formblock-toggle-hidden data-target="person addressee 2"
                        .triangleShadow.triangleShadow--top
                          span.triangleShadow__helper
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link type="radio" name="person_addressee2" value=""
                          span.fieldWrapper__checkInfo Пропорционально своей доли в проекте
                          span.fieldWrapper__radioIcon
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link data-target="person_addressee2" type="radio" name="person_addressee2" value=""
                          span.fieldWrapper__checkInfo Указать долю участия в реализации опциона
                          span.fieldWrapper__radioIcon
                        .formBlock.formBlock--slider.formblock-toggle-hidden data-target="person_addressee2"
                          label.fieldWrapper
                            input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                            span.fieldWrapper__dimension % доли в проекте
                          .formSliderSingle
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input type="checkbox" name="options_addressee_personally" value=""
                        span.fieldWrapper__checkInfo Владимир Путин
                        span.fieldWrapper__checkboxIcon
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input type="checkbox" name="options_addressee_personally" value=""
                        span.fieldWrapper__checkInfo Дмитрий Медведев
                        span.fieldWrapper__checkboxIcon
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input type="checkbox" name="options_addressee_personally" value=""
                        span.fieldWrapper__checkInfo Сергей Шойгу
                        span.fieldWrapper__checkboxIcon

                  .formBlock.formBlock--aside
                    .formBlock__title.formBlock__title--indentTop Размер опциона
                    .formBlockIn
                      .formBlock.formBlock--slider
                        label.fieldWrapper
                          input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                          span.fieldWrapper__dimension % доли в проекте
                        .formSliderSingle

                  .formBlock.formBlock--aside
                    .formBlock__title Выберите период реализации опциона
                    .formBlockIn
                      .formBlockWrapper
                        .formBlock.formBlock--2
                          label.fieldWrapper
                            input.fieldWrapper__input.field-date type="text" name="" placeholder="Дата начала"
                            span.fieldWrapper__icon.icon.icon--calendar
                        .formBlock.formBlock--2
                          label.fieldWrapper
                            input.fieldWrapper__input.field-date type="text" name="" placeholder="Дата окончания"
                            span.fieldWrapper__icon.icon.icon--calendar

                  .formBlock.formBlock--aside.pattern-field data-field="conditions1"
                    .formBlock__title
                      | Дополнительные условия опциона
                      br
                      span
                        | (если есть)
                    .formBlockIn
                      label.fieldWrapper
                        input.fieldWrapper__input type="text" name="" placeholder="Введите иные договоренности"

                  .formBlock.formBlock--aside
                    .formBlockIn
                      a.linkButton.linkButton--icon.add-field data-field="conditions1" href="#"
                        | добавить еще
                        span.linkButton__icon.icon.icon--add



              .formSwitch.tab-container
                .personEntityTabsWrapper.tab-link-container.slide
                  a.personEntityTabsWrapper__link.personEntityTabsWrapper__link--helper.tab-link href="#"
                  a.personEntityTabsWrapper__link.tab-link.is-active data-container-class="slide" href="#"
                .formSwitch__title Сотрудник в проекте
                .tab-content
                  .formBlock.formBlock--aside
                    .formBlock__title Сотрудник получает право приобрести доли проекта?
                    .formBlockIn
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input.formblock-toggle-link data-target="no right to purchase project shares" type="radio" name="right_to_purchase_project_shares" value="right_to_purchase_project_shares2"
                        span.fieldWrapper__checkInfo Нет
                        span.fieldWrapper__radioIcon
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input.formblock-toggle-link data-target="right to purchase project shares" type="radio" name="right_to_purchase_project_shares" value="right_to_purchase_project_shares1"
                        span.fieldWrapper__checkInfo Да
                        span.fieldWrapper__radioIcon

                  .formBlock.formBlock--aside.formblock-toggle-hidden data-target="no right to purchase project shares"
                    .formBlock__title.formBlock__title--indentTop Иные условия опциона
                    .formBlockIn
                      label.fieldWrapper
                        textarea.fieldWrapper__input name="" placeholder="Введите иные условия"

                  .formblock-toggle-hidden data-target="right to purchase project shares"
                    .formBlock.formBlock--aside
                      .formBlock__title.formBlock__title--indentTop Размер опциона
                      .formBlockIn
                        .formBlock.formBlock--slider
                          label.fieldWrapper
                            input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                            span.fieldWrapper__dimension % доли в проекте
                          .formSliderSingle

                    .formBlock.formBlock--aside
                      .formBlock__title Выберите каким путем реализуется опцион
                      .formBlockIn
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link type="radio" name="realizing_option" value="realizing_option1"
                          span.fieldWrapper__checkInfo Дополнительной эмиссии долей или акций проекта
                          span.fieldWrapper__radioIcon
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link data-target="realizing_option" type="radio" name="realizing_option" value="realizing_option2"
                          span.fieldWrapper__checkInfo Покупка части акций или долей участников проекта
                          span.fieldWrapper__radioIcon
                    .formblock-toggle-hidden data-target="realizing_option"
                      .formBlock.formBlock--aside
                        .formBlock__title
                          | Выберите участников, к которым предъявляется требование
                          |  и их доли участия в реализациии
                        .formBlockIn
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input.formblock-toggle-link data-target="person addressee 3" type="checkbox" name="options_addressee_personally2" value="1"
                            span.fieldWrapper__checkInfo Павел Гужиков
                            span.fieldWrapper__checkboxIcon
                          .formBlock.formBlock--tooltip.formblock-toggle-hidden data-target="person addressee 3"
                            .triangleShadow.triangleShadow--top
                              span.triangleShadow__helper
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link type="radio" name="person_addressee3" value=""
                              span.fieldWrapper__checkInfo Пропорционально своей доли в проекте
                              span.fieldWrapper__radioIcon
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link data-target="person_addressee3" type="radio" name="person_addressee3" value=""
                              span.fieldWrapper__checkInfo Указать долю участия в реализации опциона
                              span.fieldWrapper__radioIcon
                            .formBlock.formBlock--slider.formblock-toggle-hidden data-target="person_addressee3"
                              label.fieldWrapper
                                input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                                span.fieldWrapper__dimension % доли в проекте
                              .formSliderSingle
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input.formblock-toggle-link data-target="person addressee 4" type="checkbox" name="options_addressee_personally2" value=""
                            span.fieldWrapper__checkInfo Иван Ардинцев
                            span.fieldWrapper__checkboxIcon
                          .formBlock.formBlock--tooltip.formblock-toggle-hidden data-target="person addressee 4"
                            .triangleShadow.triangleShadow--top
                              span.triangleShadow__helper
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link type="radio" name="person_addressee4" value=""
                              span.fieldWrapper__checkInfo Пропорционально своей доли в проекте
                              span.fieldWrapper__radioIcon
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link data-target="person_addressee4" type="radio" name="person_addressee4" value=""
                              span.fieldWrapper__checkInfo Указать долю участия в реализации опциона
                              span.fieldWrapper__radioIcon
                            .formBlock.formBlock--slider.formblock-toggle-hidden data-target="person_addressee4"
                              label.fieldWrapper
                                input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                                span.fieldWrapper__dimension % доли в проекте
                              .formSliderSingle
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input type="checkbox" name="options_addressee_personally2" value=""
                            span.fieldWrapper__checkInfo Владимир Путин
                            span.fieldWrapper__checkboxIcon
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input type="checkbox" name="options_addressee_personally2" value=""
                            span.fieldWrapper__checkInfo Дмитрий Медведев
                            span.fieldWrapper__checkboxIcon
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input type="checkbox" name="options_addressee_personally2" value=""
                            span.fieldWrapper__checkInfo Сергей Шойгу
                            span.fieldWrapper__checkboxIcon

                    .formBlock.formBlock--aside
                      .formBlock__title Выберите период реализации опциона
                      .formBlockIn
                        .formBlockWrapper
                          .formBlock.formBlock--2
                            label.fieldWrapper
                              input.fieldWrapper__input.field-date type="text" name="" placeholder="Дата начала"
                              span.fieldWrapper__icon.icon.icon--calendar
                          .formBlock.formBlock--2
                            label.fieldWrapper
                              input.fieldWrapper__input.field-date type="text" name="" placeholder="Дата окончания"
                              span.fieldWrapper__icon.icon.icon--calendar

                    .formBlock.formBlock--aside
                      .formBlock__title Порядок расчета стоимости опциона
                      .formBlockIn
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input type="radio" name="options_calculating" value="options_calculating1"
                          span.fieldWrapper__checkInfo По формуле
                          span.fieldWrapper__radioIcon
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input type="radio" name="options_calculating" value="options_calculating2"
                          span.fieldWrapper__checkInfo Указать сумму
                          span.fieldWrapper__radioIcon

                    .formBlock.formBlock--aside
                      .formBlock__title.formBlock__title--indentTop Укажите форму расчета
                      .formBlockIn
                        label.fieldWrapper
                          input.fieldWrapper__input type="text" name="" placeholder="Введите формулу"

                    .formBlock.formBlock--aside.pattern-field data-field="conditions2"
                      .formBlock__title
                        | Дополнительные условия опциона
                        br
                        span
                          | (если есть)
                      .formBlockIn
                        label.fieldWrapper
                          input.fieldWrapper__input type="text" name="" placeholder="Введите иные договоренности"

                    .formBlock.formBlock--aside
                      .formBlockIn
                        a.linkButton.linkButton--icon.add-field data-field="conditions2" href="#"
                          | добавить еще
                          span.linkButton__icon.icon.icon--add



              .formSwitch.tab-container
                .personEntityTabsWrapper.tab-link-container.slide
                  a.personEntityTabsWrapper__link.personEntityTabsWrapper__link--helper.tab-link href="#"
                  a.personEntityTabsWrapper__link.tab-link.is-active data-container-class="slide" href="#"
                .formSwitch__title Третье лицо
                .tab-content
                  .formBlock.formBlock--aside
                    .formBlock__title Выберите тип опционера
                    .formBlockIn
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input type="radio" name="optionist_type" value=""
                        span.fieldWrapper__checkInfo Инвестор
                        span.fieldWrapper__radioIcon
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input type="radio" name="optionist_type" value=""
                        span.fieldWrapper__checkInfo Иное третье лицо
                        span.fieldWrapper__radioIcon

                  .formBlock.formBlock--aside
                    .formBlock__title Сотрудник получает право приобрести доли проекта?
                    .formBlockIn
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input.formblock-toggle-link data-target="no right to purchase project shares2" type="radio" name="right_to_purchase_project_shares2" value=""
                        span.fieldWrapper__checkInfo Нет
                        span.fieldWrapper__radioIcon
                      label.fieldWrapper.fieldWrapper--check
                        input.fieldWrapper__input.formblock-toggle-link data-target="right to purchase project shares2" type="radio" name="right_to_purchase_project_shares2" value=""
                        span.fieldWrapper__checkInfo Да
                        span.fieldWrapper__radioIcon

                  .formBlock.formBlock--aside.formblock-toggle-hidden data-target="no right to purchase project shares2"
                    .formBlock__title.formBlock__title--indentTop Иные условия опциона
                    .formBlockIn
                      label.fieldWrapper
                        textarea.fieldWrapper__input name="" placeholder="Введите иные условия"

                  .formblock-toggle-hidden data-target="right to purchase project shares2"
                    .formBlock.formBlock--aside
                      .formBlock__title.formBlock__title--indentTop Размер опциона
                      .formBlockIn
                        .formBlock.formBlock--slider
                          label.fieldWrapper
                            input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                            span.fieldWrapper__dimension % доли в проекте
                          .formSliderSingle

                    .formBlock.formBlock--aside
                      .formBlock__title Выберите каким путем реализуется опцион
                      .formBlockIn
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link type="radio" name="realizing_option2" value="realizing_option3"
                          span.fieldWrapper__checkInfo Дополнительной эмиссии долей или акций проекта
                          span.fieldWrapper__radioIcon
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input.formblock-toggle-link data-target="realizing_option2" type="radio" name="realizing_option2" value="realizing_option2"
                          span.fieldWrapper__checkInfo Покупка части акций или долей участников проекта
                          span.fieldWrapper__radioIcon
                    .formblock-toggle-hidden data-target="realizing_option2"
                      .formBlock.formBlock--aside
                        .formBlock__title
                          | Выберите участников, к которым предъявляется требование
                          |  и их доли участия в реализациии
                        .formBlockIn
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input.formblock-toggle-link data-target="person addressee 5" type="checkbox" name="options_addressee_personally3" value=""
                            span.fieldWrapper__checkInfo Павел Гужиков
                            span.fieldWrapper__checkboxIcon
                          .formBlock.formBlock--tooltip.formblock-toggle-hidden data-target="person addressee 5"
                            .triangleShadow.triangleShadow--top
                              span.triangleShadow__helper
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link type="radio" name="person_addressee5" value=""
                              span.fieldWrapper__checkInfo Пропорционально своей доли в проекте
                              span.fieldWrapper__radioIcon
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link data-target="person_addressee5" type="radio" name="person_addressee5" value=""
                              span.fieldWrapper__checkInfo Указать долю участия в реализации опциона
                              span.fieldWrapper__radioIcon
                            .formBlock.formBlock--slider.formblock-toggle-hidden data-target="person_addressee5"
                              label.fieldWrapper
                                input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                                span.fieldWrapper__dimension % доли в проекте
                              .formSliderSingle
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input.formblock-toggle-link data-target="person addressee 6" type="checkbox" name="options_addressee_personally3" value=""
                            span.fieldWrapper__checkInfo Иван Ардинцев
                            span.fieldWrapper__checkboxIcon
                          .formBlock.formBlock--tooltip.formblock-toggle-hidden data-target="person addressee 6"
                            .triangleShadow.triangleShadow--top
                              span.triangleShadow__helper
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link type="radio" name="person_addressee6" value=""
                              span.fieldWrapper__checkInfo Пропорционально своей доли в проекте
                              span.fieldWrapper__radioIcon
                            label.fieldWrapper.fieldWrapper--check
                              input.fieldWrapper__input.formblock-toggle-link data-target="person_addressee6" type="radio" name="person_addressee6" value=""
                              span.fieldWrapper__checkInfo Указать долю участия в реализации опциона
                              span.fieldWrapper__radioIcon
                            .formBlock.formBlock--slider.formblock-toggle-hidden data-target="person_addressee6"
                              label.fieldWrapper
                                input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                                span.fieldWrapper__dimension % доли в проекте
                              .formSliderSingle
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input type="checkbox" name="options_addressee_personally3" value=""
                            span.fieldWrapper__checkInfo Владимир Путин
                            span.fieldWrapper__checkboxIcon
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input type="checkbox" name="options_addressee_personally3" value=""
                            span.fieldWrapper__checkInfo Дмитрий Медведев
                            span.fieldWrapper__checkboxIcon
                          label.fieldWrapper.fieldWrapper--check
                            input.fieldWrapper__input type="checkbox" name="options_addressee_personally3" value=""
                            span.fieldWrapper__checkInfo Сергей Шойгу
                            span.fieldWrapper__checkboxIcon

                    .formBlock.formBlock--aside
                      .formBlock__title Выберите период реализации опциона
                      .formBlockIn
                        .formBlockWrapper
                          .formBlock.formBlock--2
                            label.fieldWrapper
                              input.fieldWrapper__input.field-date type="text" name="" placeholder="Дата начала"
                              span.fieldWrapper__icon.icon.icon--calendar
                          .formBlock.formBlock--2
                            label.fieldWrapper
                              input.fieldWrapper__input.field-date type="text" name="" placeholder="Дата окончания"
                              span.fieldWrapper__icon.icon.icon--calendar

                    .formBlock.formBlock--aside
                      .formBlock__title Порядок расчета стоимости опциона
                      .formBlockIn
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input type="radio" name="options_calculating" value="options_calculating1"
                          span.fieldWrapper__checkInfo По формуле
                          span.fieldWrapper__radioIcon
                        label.fieldWrapper.fieldWrapper--check
                          input.fieldWrapper__input type="radio" name="options_calculating" value="options_calculating2"
                          span.fieldWrapper__checkInfo Указать сумму
                          span.fieldWrapper__radioIcon

                    .formBlock.formBlock--aside
                      .formBlock__title.formBlock__title--indentTop Укажите форму расчета
                      .formBlockIn
                        label.fieldWrapper
                          input.fieldWrapper__input type="text" name="" placeholder="Введите формулу"

                    .formBlock.formBlock--aside.pattern-field data-field="conditions3"
                      .formBlock__title
                        | Дополнительные условия опциона
                        br
                        span
                          | (если есть)
                      .formBlockIn
                        label.fieldWrapper
                          input.fieldWrapper__input type="text" name="" placeholder="Введите иные договоренности"

                    .formBlock.formBlock--aside
                      .formBlockIn
                        a.linkButton.linkButton--icon.add-field data-field="conditions3" href="#"
                          | добавить еще
                          span.linkButton__icon.icon.icon--add



          .buttonContainer.buttonContainer--center
            button.buttonContainer__button.linkButton.linkButton--small type="button" отменить
            button.buttonContainer__button.linkButton.linkButton--small.linkButton--blue type="submit" сохранить



  script src="../js/app.js"
