doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title Forms - participants credentials
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../css/app.css"
  body.with-form

    .header.header--border
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          h1.header__title Новая договоренность
          a.header__close.icon.icon--close href="#"

    section.addProjectSection
      .contentIn

        .addProject
          .addProjectAbout
            .addProjectAbout__title Полномочия участников
            .addProjectAbout__info
              | Кто инвестирует в проект, какие суммы и на каких условиях
              |  будет производится перечисление средств

        form.form.form--content
          .formIn
            .formContent

              .formBlock.formBlock--aside
                .formBlock__title Компетенции участников и количество голосов для принятия решения
                .formBlockIn
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input.formblock-toggle-link data-target="share operations" type="checkbox" name="participants_competence" value="participants_competence1"
                    span.fieldWrapper__checkInfo Приобретение и отчуждение акций/долей юридических лиц
                    span.fieldWrapper__checkboxIcon
                  .formBlock.formBlock--slider.formblock-toggle-hidden data-target="share operations"
                    label.fieldWrapper
                      input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                      span.fieldWrapper__dimension % голосов
                    .formSliderSingle
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input.formblock-toggle-link data-target="project budget approval" type="checkbox" name="participants_competence" value="participants_competence2"
                    span.fieldWrapper__checkInfo Утверждение бюджета проекта
                    span.fieldWrapper__checkboxIcon
                  .formBlock.formBlock--slider.formblock-toggle-hidden data-target="project budget approval"
                    label.fieldWrapper
                      input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                      span.fieldWrapper__dimension % голосов
                    .formSliderSingle
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input.formblock-toggle-link data-target="project plan approval" type="checkbox" name="participants_competence" value="participants_competence3"
                    span.fieldWrapper__checkInfo Утверждение бизнес-плана проекта
                    span.fieldWrapper__checkboxIcon
                  .formBlock.formBlock--slider.formblock-toggle-hidden data-target="project plan approval"
                    label.fieldWrapper
                      input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                      span.fieldWrapper__dimension % голосов
                    .formSliderSingle
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input type="checkbox" name="participants_competence" value="participants_competence4"
                    span.fieldWrapper__checkInfo Назначение/снятие с должности директора проекта
                    span.fieldWrapper__checkboxIcon
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input type="checkbox" name="participants_competence" value="participants_competence5"
                    span.fieldWrapper__checkInfo Назначение/снятие с должности генерального директора юридического лица проекта
                    span.fieldWrapper__checkboxIcon
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input type="checkbox" name="participants_competence" value="participants_competence6"
                    span.fieldWrapper__checkInfo Создание/ликвидация/реорганизация юридических лиц проекта
                    span.fieldWrapper__checkboxIcon
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input type="checkbox" name="participants_competence" value="participants_competence7"
                    span.fieldWrapper__checkInfo Предоставление опционов сотрудникам проекта
                    span.fieldWrapper__checkboxIcon
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input type="checkbox" name="participants_competence" value="participants_competence8"
                    span.fieldWrapper__checkInfo Распределение чистой прибыли проекта
                    span.fieldWrapper__checkboxIcon
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input.formblock-toggle-link data-target="more sum" type="checkbox" name="participants_competence" value="participants_competence9"
                    span.fieldWrapper__checkInfo Заключение в рамках проекта сделки более указанной суммы
                    span.fieldWrapper__checkboxIcon
                  .formBlockWrapper.formblock-toggle-hidden data-target="more sum"
                    .formBlock--2
                      label.fieldWrapper
                      input.fieldWrapper__input type="number" name="" placeholder="Введите сумму" value=""
                    .formBlock.formBlock--2.formBlock--slider
                      label.fieldWrapper
                        input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                        span.fieldWrapper__dimension % голосов
                      .formSliderSingle
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input type="checkbox" name="participants_competence" value="participants_competence10"
                    span.fieldWrapper__checkInfo Назначение аудитора проекта
                    span.fieldWrapper__checkboxIcon
                  label.fieldWrapper.fieldWrapper--check
                    input.fieldWrapper__input.formblock-toggle-link data-target="other participants credentials" type="checkbox" name="participants_competence" value="participants_competence11"
                    span.fieldWrapper__checkInfo Иное
                    span.fieldWrapper__checkboxIcon
                  .formblock-toggle-hidden data-target="other participants credentials"
                    .formBlock
                      label.fieldWrapper
                        textarea.fieldWrapper__input name="" placeholder="Введите иные компетенции"
                    .formBlock.formBlock--slider.formBlock--mt
                      label.fieldWrapper
                        input.fieldWrapper__input.fieldWrapper__input--sliderSingle type="number" name="" placeholder="0" value="20"
                        span.fieldWrapper__dimension % голосов
                      .formSliderSingle

          .buttonContainer.buttonContainer--center
            button.buttonContainer__button.linkButton.linkButton--small type="button" отменить
            button.buttonContainer__button.linkButton.linkButton--small.linkButton--blue type="submit" сохранить



  script src="../js/app.js"
