doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title DealDep - projects new - step1
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../../css/app.css"
  body

    .header.header--border
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          h1.header__title Создание нового проекта
          a.header__close.icon.icon--close href="#"

    section.addProjectSection
      .contentIn

        .addProject
          .addProjectSteps.cols
            .addProjectStep.col--2.is-current
              span.addProjectStep__number 1
              p.addProjectStep__info Название и участники
            .addProjectStep.col--2
              span.addProjectStep__number 2
              p.addProjectStep__info Распределение долей
          .addProjectAbout
            .addProjectAbout__title Название и участники
            .addProjectAbout__info
              | Укажите название и всех участников проекта,
              |  выбрав их долю, вклад и обязательно email,
              |  на него мы пришлем приглашение для участия в проекте.

        form.form.form--content
          .formIn
            .formContent
              .formTitle О проекте
              .formBlockWrapper
                .formBlock.formBlock--2
                  label.fieldWrapper
                    span.fieldWrapper__label Название проекта
                    input.fieldWrapper__input type="text" name="" placeholder="Введите название проекта"
                .formBlock.formBlock--2
        					label.fieldWrapper
        						span.fieldWrapper__label Тип проекта
        						select.fieldWrapper__select.form-select placeholder="Выберите тип проекта"
        							option value="" Выберите тип проекта
        							option value="4" Перевозки
        							option value="1" Добыча сырья
        							option value="3" Строительство
        							option value="5" B2B

            .personEntity.personEntity--visible.person-entity-clone
              .formTitle
                img.formTitle__avatar src="../../img/icons/svg/avatar_default.svg"
                span.formTitle__counter Первый участник
                span.formTitle__hint
                  |  (это вы)
              .formBlockWrapper
                .formBlock.formBlock--4
                  label.fieldWrapper
                    span.fieldWrapper__label Фамилия
                    input.fieldWrapper__input type="text" name="" placeholder="Введите фамилию" value="Гужиков"
                .formBlock.formBlock--4
                  label.fieldWrapper
                    span.fieldWrapper__label Имя
                    input.fieldWrapper__input type="text" name="" placeholder="Введите имя" value="Павел"
                .formBlock.formBlock--2
        					label.fieldWrapper
        						span.fieldWrapper__label Вложение в проект
        						select.fieldWrapper__select.form-select placeholder="Выберите тип вложения"
        							option value="" Выберите тип вложения
        							option value="2" Налом
        							option value="1" Аналом
        							option value="3" Рабство
        							option value="5" B2B
              .formBlockWrapper
                .formBlock.formBlock--2
                  label.fieldWrapper
                    span.fieldWrapper__label Роль участника
                    select.fieldWrapper__select.form-select placeholder="Выберите роль"
                      option value="" Выберите роль
                      option value="2" Шлюха
                      option value="1" Глава надела
                      option value="3" Пес
                .formBlock.formBlock--2
                  label.fieldWrapper
                    span.fieldWrapper__label Email
                    input.fieldWrapper__input type="text" name="" placeholder="Введите Email" value="pavel@bongord.com"

            .personEntity.personEntity--visible
              .formTitle
                img.formTitle__avatar src="../../img/icons/svg/avatar_default.svg"
                span.formTitle__counter Второй участник
              .formBlockWrapper
                .formBlock.formBlock--4
                  label.fieldWrapper
                    span.fieldWrapper__label Фамилия
                    input.fieldWrapper__input type="text" name="" placeholder="Введите фамилию" value=""
                .formBlock.formBlock--4
                  label.fieldWrapper
                    span.fieldWrapper__label Имя
                    input.fieldWrapper__input type="text" name="" placeholder="Введите имя" value=""
                .formBlock.formBlock--2
                  label.fieldWrapper
                    span.fieldWrapper__label Вложение в проект
                    select.fieldWrapper__select.form-select placeholder="Выберите тип вложения"
                      option value="" Выберите тип вложения
                      option value="2" Налом
                      option value="1" Аналом
                      option value="3" Рабство
                      option value="5" B2B
              .formBlockWrapper
                .formBlock.formBlock--2
                  label.fieldWrapper
                    span.fieldWrapper__label Роль участника
                    select.fieldWrapper__select.form-select placeholder="Выберите роль"
                      option value="" Выберите роль
                      option value="2" Шлюха
                      option value="1" Глава надела
                      option value="3" Пес
                .formBlock.formBlock--2
                  label.fieldWrapper
                    span.fieldWrapper__label Email
                    input.fieldWrapper__input type="text" name="" placeholder="Введите Email" value=""

            .personButtonWrapper.person-entity-links.is-first
              .personButton.personButton--add.person-entity-add data-partner="true" Добавить еще одного

          .buttonContainer.buttonContainer--center
            button.buttonContainer__button.linkButton.linkButton--small.linkButton--icon type="button"
              | отменить
              span.linkButton__icon.icon.icon--cross_blue
            button.buttonContainer__button.linkButton.linkButton--small.linkButton--blue type="submit" продолжить



  script src="../../js/app.js"
