doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title DealDep - projects new - step 2
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../../css/app.css"
  body

    .header
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          h1.header__title Создание нового проекта
          a.header__close.icon.icon--close href="#"

    section.addProjectSection
      .contentIn

        .addProject
          .addProjectSteps.cols
            .addProjectStep.col--2.is-active
              span.addProjectStep__number 1
              p.addProjectStep__info Название и участники
            .addProjectStep.col--2.is-current
              span.addProjectStep__number 2
              p.addProjectStep__info Распределение долей
          .addProjectAbout
            .addProjectAbout__title Распределение долей
            .addProjectAbout__info
              | Здесь еще нужно будет дописать текст о том,
              |  как работает фиксация роли и зачем она вообще нужна.

        form.form
          .formIn
            .shareWrapper
              .share
                .formTitle Павел Гужиков
                .formBlock.formBlock--slider
                  label.fieldWrapper
                    input.fieldWrapper__input.fieldWrapper__input--slider type="number" name="" placeholder="0" value="20"
                    span.fieldWrapper__dimension %
                  .formSlider
                .shareLock
                  .shareTip
                    | Зафиксировать долю
                    p.triangleShadow
                      span.triangleShadow__helper
              .share.is-locked
                .formTitle Иван Ардинцев
                .formBlock.formBlock--slider
                  label.fieldWrapper
                    input.fieldWrapper__input.fieldWrapper__input--slider type="number" name="" placeholder="0" value="20"
                    span.fieldWrapper__dimension %
                  .formSlider
                .shareLock
                  .shareTip
                    | Разфиксировать долю
                    p.triangleShadow
                      span.triangleShadow__helper
              .share
                .formTitle Владимир Путин
                .formBlock.formBlock--slider
                  label.fieldWrapper
                    input.fieldWrapper__input.fieldWrapper__input--slider type="number" name="" placeholder="0" value="20"
                    span.fieldWrapper__dimension %
                  .formSlider
                .shareLock
                  .shareTip
                    | Зафиксировать долю
                    p.triangleShadow
                      span.triangleShadow__helper
              .share
                .formTitle Дмитрий Медведев
                .formBlock.formBlock--slider
                  label.fieldWrapper
                    input.fieldWrapper__input.fieldWrapper__input--slider type="number" name="" placeholder="0" value="20"
                    span.fieldWrapper__dimension %
                  .formSlider
                .shareLock
                  .shareTip
                    | Зафиксировать долю
                    p.triangleShadow
                      span.triangleShadow__helper
              .share
                .formTitle Сергей Шойгу
                .formBlock.formBlock--slider
                  label.fieldWrapper
                    input.fieldWrapper__input.fieldWrapper__input--slider type="number" name="" placeholder="0" value="20"
                    span.fieldWrapper__dimension %
                  .formSlider
                .shareLock
                  .shareTip
                    | Зафиксировать долю
                    p.triangleShadow
                      span.triangleShadow__helper

          .buttonContainer.buttonContainer--center
            a.buttonContainer__button.linkButton.linkButton--small.linkButton--icon href="/projects/projects_new.html"
              | назад
              span.linkButton__icon.icon.icon--back
            button.buttonContainer__button.linkButton.linkButton--small.linkButton--blue type="submit" создать проект



  script src="../../js/app.js"
