$white:         #fff;
$white-light:   #f9f9f9;

$gray-light:    #E9E9E9;
$gray:          #E1E4E9;

$green:         #A3C65A;
$blue:          #4174D7;
$violet:        #C25FBD;

$black:         #000;

$input-bg:      #EFF1F5;



// animation
$transition-normal: .3s linear;
$transition-fast: .1s linear;



// fonts
$circe-bold-extra: 'Circe-ExtraBold', Arial, Tahoma, sans-serif;
$circe-bold: 'Circe-Bold', Arial, Tahoma, sans-serif;
$circe-regular: 'Circe-Regular', Arial, Tahoma, sans-serif;
$circe-light: 'Circe-Light', Arial, Tahoma, sans-serif;
$circe-light-extra: 'Circe-ExtraLight', Arial, Tahoma, sans-serif;



// screen resolutions
$desktop: 'max-width: 1280px';
$tablet: 'max-width: 992px';
$mobile: 'max-width: 767px';
