doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title DealDep - projects signed
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../../css/app.css"
  body.with-note

    .header
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          .menu
            a.menu__link.is-active href="#" Мои проекты
            a.menu__link href="#" Мой профиль
          .logined.tooltip-container
            .loginedUser
              span.loginedUser__name Гужиков П. А.
              img.loginedUser__avatar.popup-open data-popup="popup-person-note" src="../../img/avatars/avatar_pavel.png"
            a.notices.tooltip-link href="#"
              span.notices__bell.icon.icon--bell
              span.notices__newQuantity 2
            .noticesListWrapper.tooltip-content
              p.noticesList__triangle.triangleShadow.triangleShadow--top
                span.triangleShadow__helper
              .noticesList
                .noticesListItem
                  span.noticesListItem__label Новое
                  p.noticesListItem__date 02 марта 2017,  20:04:34
                  p.noticesListItem__info
                    | Дмитрий Медведев подписал распределение долей в проекте «Дилдеп Технолоджис»
                .noticesListItem
                  span.noticesListItem__label Новое
                  p.noticesListItem__date 03 марта 2017,  20:04:34
                  p.noticesListItem__info
                    | Дмитрий Медведев подписал распределение долей в проекте «Дилдеп Технолоджис»
                    |  Дмитрий Медведев подписал распределение долей в проекте «Дилдеп Технолоджис»
                .noticesListItem
                  p.noticesListItem__date 04 марта 2017,  20:04:34
                  p.noticesListItem__info
                    | Дмитрий Медведев подписал распределение долей в проекте «Дилдеп Технолоджис»
                    | Дмитрий Медведев подписал
                .noticesListItem
                  p.noticesListItem__date 05 марта 2017,  20:04:34
                  p.noticesListItem__info
                    | Дмитрий Медведев подписал распределение долей в проекте «Дилдеп Технолоджис»
                .noticesListItem
                  p.noticesListItem__date 05 марта 2017,  20:04:34
                  p.noticesListItem__info
                    | Дмитрий Медведев подписал распределение

      .headerSubmenu
        .contentIn
          .submenuTitle
            .submenuTitle__imgWrapper.imgWrapper
              span.icon.icon--signed
            h1.submenuTitle__title.titleMain Дилдеп Технолоджис
            p.submenuTitle__info Подписано
          ul.submenu
            li.submenuItem
              a.submenuItem__link.is-active href="/projects/signed/participants.html" Участники и карта
            li.submenuItem
              a.submenuItem__link href="/projects/signed/dogovor.html" Договоренности
            li.submenuItem
              a.submenuItem__link href="/projects/signed/yurlitsa.html" Юрлица

    .contentWrapperTop
      .contentIn
        .arrangementHeader
          .arrangementHeader__title
            | Карта договоренностей
          .arrangementHeader__info.arrangementHeaderInfo
            | Заполнена на&nbsp;
            span.arrangementHeaderInfo__percentage 0%
          .arrangementProgress
            .arrangementProgress__item.is-active
            .arrangementProgress__item.is-active
            .arrangementProgress__item.is-active
            .arrangementProgress__item.is-active
            .arrangementProgress__item.is-active
            .arrangementProgress__item.is-active
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item
            .arrangementProgress__item

    .arrangementsWrapper.arrangement-container
      .contentIn
        .arrangementTabsWrapper
          span.arrangementTabsWrapper__tab.arrangement-tab data-arrangement='0' Финансирование
          span.arrangementTabsWrapper__tab.arrangement-tab data-arrangement='1' Управление
          span.arrangementTabsWrapper__tab.arrangement-tab data-arrangement='2' Планирование
          span.arrangementTabsWrapper__tab.arrangement-tab data-arrangement='3' Контроль
          span.arrangementTabsWrapper__tab.arrangement-tab data-arrangement='4' Изменение долей
        .arrangementCols.colsFlex
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content.is-colored.is-green data-arrangement='0'
              .arrangementInfo
                | Финансирование проекта<br>участниками
              a.arrangementHidden href="#"
                | изменить договоренность
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='1'
              .arrangementInfo
                | Полномочия участников
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='1'
              .arrangementInfo
                | Планирование и контроль<br>деятельности проекта
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='1'
              .arrangementInfo
                | Совет директоров
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content.is-colored.is-orange data-arrangement='3'
              .arrangementInfo
                | Разрешение<br>корпоративных<br>конфликтов
              a.arrangementHidden href="#"
                .circlesParticipant.circlesParticipant--orange
                  span.circlesParticipant__item
                  span.circlesParticipant__item
                  span.circlesParticipant__item
                  span.circlesParticipant__item.circlesParticipant__item--success
                  span.circlesParticipant__item.circlesParticipant__item--success
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='2'
              .arrangementInfo
                | Порядок оценки стоимости<br>бизнеса
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='2'
              .arrangementInfo
                | Ограничение<br>на отчуждение участниками<br>своих долей
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='4'
              .arrangementInfo
                | Ограничение обременения<br>участниками своих долей
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='4'
              .arrangementInfo
                | Право присоединения<br>к продаже долей проекта<br>в пользу третьих лиц
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='3'
              .arrangementInfo
                | Право требования совместной<br>продажи долей проекта<br>в пользу третьих лиц
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='0'
              .arrangementInfo
                | Вопросы конкуренции<br>участников
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='1'
              .arrangementInfo
                | Генеральный директор
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content data-arrangement='0'
              .arrangementInfo
                | Опционы
          .arrangement.colFlex--4
            .arrangement__in.colFlexIn.arrangement-content.is-transparent data-arrangement='0'
              .arrangementInfo
                | Порядок распределения<br>прибыли и выплаты<br>дивидендов

    .note.note--black
      .contentIn
        .note__cols.colsFlex
          .noteInfo
            .noteInfoIn
              span.noteInfo__icon.icon.icon--info
              .noteInfoText
                | Вы можете сформировать готовый документ по вашим договоренностям, чтобы подписать его и отправить в блокчейн, по желанию.
          .noteButtonsWrapper.colsFlex
            a.noteButtonsWrapper__button.linkButton.linkButton--violet.linkButton--icon href=""
              | зафиксировать договоренности
              span.linkButton__icon.icon.icon--handshake_white

    .popup.popup-person-note
      span.popup__close.icon--close.popup-close
      img.popup__avatar src="../../img/avatars/avatar_pavel.png"
      .popupPerson
        p.titleMain.popupPerson__name Гужиков Павел Алексеевич
        .colsFlex
          .popupPerson__col.colFlex--2
            .colFlexIn
              .popupPerson__label Роль
              .popupPerson__title Управляющий партнер
          .popupPerson__col.colFlex--2
            .colFlexIn
              .popupPerson__label Вложение
              .popupPerson__title Имущество
          .popupPerson__col.colFlex
            .popupPerson__label Описание вложения
            .popupPerson__info Предоставление автомобиля «Форд Фокус» в безвозмездное пользование компании
      form.form
        .formBlock
          label.fieldWrapper
            span.fieldWrapper__label
              | Заметка к участнику <i>(будет видна только вам)</i>
            textarea.fieldWrapper__input name="" placeholder="Текст заметки"
        .buttonContainer.buttonContainer--center
          button.buttonContainer__button.linkButton.linkButton--small.linkButton--blue type="submit" сохранить
          button.buttonContainer__button.linkButton.linkButton--small.popup-close type="button" отменить



  script src="../../js/app.js"
