.popup__avatar {
  position: absolute;
  top: -35px;
  left: 40px;
  width: 70px;
  border-radius: 50%;
}

.popupPerson {
  position: relative;
  margin-bottom: 18px;
  padding: 19px 0 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -40px;
    right: -40px;
    height: 1px;
    background-color: $gray;
  }

  .colFlexIn {
    padding-right: 20px;
  }
}

.popupPerson__col {
  margin-bottom: 19px;
}

.popupPerson__name {
  margin-bottom: 18px;
}

.popupPerson__label {
  margin-bottom: 2px;
  color: #A4A4A4;
}

.popupPerson__title {
  font-size: 18px;
}

.popupPerson__info {

}
