.entityIn {
  margin-bottom: 40px;
  background: $white;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.08);
  border-radius: 5px;
}

.entityIn--inactive {
  border: 1px solid #D6D9DE;
  background-color: transparent;
  box-shadow: none;

  .entityHeader {
    border-color: #D6D9DE;
  }

  .personDataCols__button {
    background-color: transparent;
  }
}

@media ($mobile) {
  .entityIn--inactive {
    color: #B5B5B5;
  }
}



// entity  header
.entityHeader {
  padding: 24px 25px 18px;
  border-bottom: 1px solid $gray;
}

.entityHeader__company {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: $circe-bold;
}

.entityHeader__position {
  display: inline-block;
  margin-right: 10px;
  color: #939393;
}

.entityHeader__name {
  display: inline-block;
}

@media ($mobile) {
  .entityHeader {
    padding: 4px 15px 8px;
  }

  .entityHeader__company {
    margin-top: 12px;
  }
}



// entity content
.entityContent {
  padding: 10px 20px 20px;
}



// persons data not found
.personDataFailure {
  padding: 50px 0 20px;
  text-align: center;
}

.personDataFailure__icon {

}

.personDataFailure__info {
  max-width: 230px;
  margin: 10px auto 0;
  color: #A4A4A4;
}


// persons data
.personDataWrapper {
  margin: 20px 0;
  background: $white;
  border: 1px dashed $gray;
  border-radius: 5px;
}

.personData {
  padding: 12px 0 10px;
}

.personData__title {
  width: 130px;
  float: left;
  padding-top: 6px;
  padding-right: 20px;
  font-family: $circe-bold;
  white-space: nowrap;
}

.personDataCols {
  margin-left: 180px;

  .colFlex--2 {
    @include flex-basis(40%);
  }

  .colFlexIn {
    padding: 6px 15px 6px 0;
    @include clearfix();
  }
}

.personDataCols__title {
  width: 50px;
  float: left;
  color: #939393;

  .personDataCols--bold & {
    font-family: $circe-bold;
    color: $black;
  }
}

.personDataCols__info {
  margin-left: 60px;
}

@media ($tablet) {
  .personData__title {
    width: auto;
    float: none;
    margin-bottom: 10px;
    line-height: 20px;
  }

  .personDataCols {
    margin-left: 0;
  }
}

@media ($mobile) {
  .personDataCols {
    .colFlex--2 {
      @include flex-basis(100%);

      &:last-child {
        @include flex-basis(100%);
      }
    }
  }
}



// entity footer
.entityFooter {
  padding: 20px;
  border-top: 1px solid $gray;

  .entityHeader + & {
    border-top: 0;
  }
}

.personDataCols__button {
  width: auto;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

@media ($mobile) {
  .entityFooter {
    padding: 15px;
  }

  .personDataCols__button {
    width: 100%;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}



// popup person data
.popupData {
  margin: 20px 0 22px;
  padding: 20px 20px 17px;
  border: 1px dashed $gray;
  border-radius: 5px;

  .personData {
    margin-right: -15px;
  }

  .personDataCols {
    margin-left: 120px;

    .colFlex--2 {
      @include flex-basis(50%);
    }
  }

  .personDataCols__info {
    margin-left: 50px;
  }
}

@media ($tablet) {
  .popupData {
    .personDataCols {
      margin-left: 0;

      .colFlex--2 {
        @include flex-basis(100%);
      }
    }
  }
}



// catalog history
.personData--participants {
  padding: 6px 0;

  .personData__title {
    font-size: 16px;
    line-height: 29px;
  }
}

.personDataCols--participants {
  .colFlex--2:last-child {
    @include flex-basis(60%);

    .colFlexIn {
      padding-right: 0;
      text-align: right;
    }
  }
}

.personDataCols__titleArrangements {
  font-size: 16px;
  line-height: 29px;
}

.participantsQuantity {
  margin-right: 16px;
  font: 16px/29px $circe-bold;
}

.personDataCols__button--send {
  float: right;
  padding-left: 45px;
  padding-right: 22px;
}

@media ($tablet) {
  .personData--participants {
    .colFlex--2 {
      .colFlexIn {
        padding: 0;
      }

      &:last-child {
        @include flex-basis(100%);

        .colFlexIn {
          position: relative;
          padding-bottom: 32px;
          text-align: left;
        }

        .participantsQuantity {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    .personData__title {
      margin-bottom: 0;
      line-height: 20px;
    }

    .circlesParticipant {
      margin-top: 10px;
    }
  }
}

@media ($mobile) {
  .personDataCols__button--send {
    float: none;
    padding: 0 30px;
  }
}
