// common
.loginIn {
  width: 438px;
  margin: 0 auto;
  background: $white;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.08);
  border-radius: 5px;
}



// header
.loginHeader {
  text-align: center;
  border-bottom: 1px solid $gray-light;
}

.loginHeader__link {
  display: inline-block;
  color: #B1B1B1;
  border-bottom: 2px solid transparent;

  &.is-active {
    color: $black;
    border-bottom-color: #C25FBD;
  }
}



// content
.loginContent {
  padding: 0 40px 40px;
}
