// common
.loginIn {
  width: 438px;
  margin: 60px auto;
  background: $white;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.08);
  border-radius: 5px;
}

@media ($mobile) {
  .loginIn {
    width: 100%;
    min-width: 320px;
    margin: 0;
    border-radius: 0;
  }
}



// header
.loginHeader {
  position: relative;
  padding: 3px 20px 0;
  text-align: center;
  border-bottom: 1px solid $gray-light;
}

.loginHeader--left {
  text-align: left;
}

.loginHeader__link {
  display: inline-block;
  margin: 0 20px;
  padding: 0 3px;
  height: 65px;
  line-height: 65px;
  color: #B1B1B1;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $black;
  }

  &.is-active {
    color: $black;
    border-bottom-color: $violet;
  }
}

.loginHeader__exit {
  position: absolute;
  top: 25px;
  right: 40px;
  display: inline-block;
  color: #B1B1B1;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -25px;
    @include background-image(exit, 14px, 13px);
    opacity: 0.31;
    transition: opacity $transition-normal;
  }

  &:hover {
    color: $black;

    &:before {
      opacity: 1;
    }
  }
}



// content
.loginContent {
  padding: 23px 40px 30px;

  .linkButton--icon {
    padding: 0 45px;
  }
}

@media ($mobile) {
  .loginContent {
    padding: 23px 20px 30px;
  }
}



// footer
.loginFooter {
  padding: 23px 40px 30px;
  text-align: center;
  border-top: 1px solid $gray-light;
}

@media ($mobile) {
  .loginFooter {
    padding: 23px 20px 20px;
  }
}
