.projectInfo {
  padding: 35px 0 35px;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.08);
}



// instructions
.instructions {
  padding: 9px 20px 10px;
  background: $white;
  border: 1px dashed #D1D5DC;
  border-radius: 5px;
  @include clearfix();

  .buttonContainer {
    width: 400px;
    float: left;
    white-space: nowrap;
  }

  .linkButton {
    width: auto;
    margin-left: 15px;
    padding: 0 25px 0 50px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.instructions__info {
  margin: 20px 0 20px 410px;
  font-size: 14px;
  line-height: 22px;
}



// docs
.docs {
  padding: 30px 0 20px;

  .titleMain {
    position: relative;
    padding: 4px 520px 20px 0;
  }
}

.docTabs {
  width: 500px;
  right: 0;
}
