// blur
.contentWrapperBlured {
  position: relative;
}

.contentWrapperBlured__overlay {
  position: absolute;
  z-index: 88;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $input-bg;
  opacity: 0.7;
}



// header
.arrangementHeader {
  @include clearfix();
  padding: 34px 0 32px;
}

.arrangementHeader__title {
  float: left;
  width: 195px;
  font-size: 16px;
  line-height: 1.5;
  font-family: $circe-bold;
}

.arrangementHeader__info {
  float: right;
  width: 150px;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
}



// progress
.arrangementProgress {
  margin: 0 150px 0 195px;
  padding-top: 4px;
  font-size: 0;
  line-height: 0;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.arrangementProgress__item {
  display: inline-block;
  width: 7px;
  height: 15px;
  background-color: #DCDFE5;

  &.is-active {
    background-color: $green;
  }
}



// tabs
.arrangementTabsWrapper {
  margin-bottom: 15px;
  font-size: 0;
  line-height: 0;
}

.arrangementTabsWrapper__tab {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 0 20px;
  height: 40px;
  font: 14px/40px $circe-bold;
  background-color: #DCDFE5;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color $transition-normal, color $transition-normal, padding-right $transition-normal;

  &:hover {
    background-color: #d5d8de;
  }

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -6px;
    @include background-image(cross_white, 12px, 12px);
    vertical-align: middle;
    @include hide();
  }

  &.is-active {
    padding-right: 44px;
    color: $white;
    background-color: $blue;

    &:hover {
      background-color: #487fea;
    }

    &:after {
      @include show();
    }
  }
}



// content
.arrangementsWrapper {
  padding: 25px 0 0;
  border-top: 1px solid $gray;
}

.arrangementCols {
  margin: 0 -8px 38px;
}

.arrangement {
  margin-bottom: 18px;
}



// arrangement block
.arrangement__in {
  position: relative;
  display: flex;
  margin: 10px 9px;
  height: 100%;
  min-height: 88px;
  background-color: $white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  transition: background-color $transition-normal, box-shadow $transition-normal, z-index $transition-normal, border-radius $transition-normal, opacity $transition-normal;

  &:hover {
    background-color: $white-light;
  }

  &.is-inactive {
    opacity: 0.5;
    cursor: default;

    &:hover {
      background-color: $white;
    }

    &.is-colored {
      &:hover {
        border-radius: 5px;

        .arrangementHidden {
          @include hide();
        }
      }
    }

    &.is-green {
      background-color: $green;

      &:hover {
        background-color: $green;
        box-shadow: none;
      }
    }

    &.is-orange {
      background-color: #F8BC4D;

      &:hover {
        background-color: #F8BC4D;
        box-shadow: none;
      }
    }

    &.is-transparent {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &.is-colored {
    .arrangementInfo {
      color: $white;
    }

    &:hover {
      z-index: 99;
      border-radius: 5px 5px 0 0;

      .arrangementHidden {
        margin-top: 0;
        @include show();
        transition: opacity $transition-normal, visibility $transition-normal, margin-top $transition-normal;
      }
    }
  }

  &.is-green {
    background-color: $green;

    &:hover {
      box-shadow: 10px 10px 15px 0 rgba(163,198,90,0.50);
    }

    .arrangementHidden {
      border-top: 1px solid rgba(255,255,255, 0.2);
      background-color: $green;
      box-shadow: 10px 10px 15px 0 rgba(163,198,90,0.50);

      &:before {
        content: '';
        margin-right: 10px;
        margin-bottom: 3px;
        @include background-image(circulation_white, 13px, 13px);
        vertical-align: middle;
      }

      &:hover {
        &:before {
          transform: rotate(180deg);
          transition: transform $transition-normal;
        }
      }
    }
  }

  &.is-orange {
    background-color: #F8BC4D;

    &:hover {
      box-shadow: 10px 10px 15px 0 rgba(248,188,77,0.50);
    }

    .arrangementHidden {
      background-color: #F8BC4D;
      box-shadow: 10px 10px 15px 0 rgba(248,188,77,0.50);
    }
  }

  &.is-transparent {
    background-color: transparent;
    border: 2px dashed #979797;
  }
}



// info
.arrangementInfo {
  flex-basis: 100%;
  margin: 0 5px;
  font-size: 14px;
  line-height: 20px;
  color: #595959;
  text-align: center;
  align-self: center;
  transition: color $transition-normal;
}



// hidden block
.arrangementHidden {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -15px;
  height: 54px;
  font: 10px/54px $circe-bold;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border-radius: 0 0 5px 5px;
  @include hide();
  transition: opacity $transition-normal, visibility $transition-normal, margin-top $transition-normal .3s;
}
