.empty {
  display: table;
  width: 100%;
  min-height: 400px;
  text-align: center;
}

.emptyIn {
  display: table-cell;
  vertical-align: middle;
}

.empty__imgWrapper {
  margin: 0 0 27px;
  height: 180px;
  line-height: 180px;
}

.empty__info {
  max-width: 220px;
  margin: 0 auto;
  font-size: 14px;
  color: #5A5A5A;
}
