// common
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.10);

  .contentIn {
    height: 100%;
  }

  &.header--border {
    border-bottom: 1px solid $gray;
    box-shadow: none;
  }
}

.headerIn {
  height: 72px;
  padding: 15px 0;
  border-top: 1px solid $gray;

  &:first-child {
    border-top: 0;

    .header__title {
      padding-right: 0;
      text-align: center;
    }
  }
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -10px;
}

.header__title {
  padding-right: 205px;
  padding-top: 4px;
  font: 24px/36px $circe-bold;

  i {
    font-family: $circe-regular;
    color: #BABABA;
  }
}

.header__close {
  position: absolute;
  top: 11px;
  right: 20px;
  cursor: pointer;
}



// main menu
.menu {
  padding: 0 240px;
  text-align: center;
}

.menu__link {
  margin-right: 60px;
  display: inline-block;
  font: 14px/40px $circe-bold;
  color: #B1B1B1;

  &:last-child {
    margin-right: 0;
  }

  &.is-active {
    color: $black;
    cursor: default;
  }

  &:hover {
    color: $black;
  }
}



// logined user
.logined {
  position: absolute;
  padding-right: 50px;
  top: 1px;
  right: 20px;
}

.loginedUser {
  line-height: 40px;
}

.loginedUser__name {
  display: inline-block;
  max-width: 120px;
  font: 14px/40px $circe-regular;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loginedUser__avatar {
  width: 40px;
  margin-left: 23px;
  border-radius: 50%;
  vertical-align: middle;
}



// notices
.notices {
  position: absolute;
  top: 5px;
  right: 0;
  padding: 5px;

  &.is-active {
    .icon--bell {
      @include background-image(bell_blue, 18px, 20px);
    }
  }
}

.notices__bell {
  transition: background-image $transition-normal;
}

.notices__newQuantity {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 0;
  padding: 1px 3px 0;
  height: 11px;
  font: 8px/11px $circe-bold-extra;
  color: $white;
  background: #F94141;
  border-radius: 2px;
}



// notices tooltip
.noticesListWrapper {
  position: absolute;
  top: 100%;
  right: -57px;
  margin-top: 10px;
  z-index: 10;

  .noticesList__triangle {
    left: auto;
    right: 57px;
  }
}

.noticesList {
  width: 334px;
  height: 324px;
  padding: 5px 0 0;
  overflow-y: auto;
  background: $white;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.20);
  cursor: default;
}

.noticesListItem {
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid $gray;

  &:last-child {
    border-bottom: 0;
  }
}

.noticesListItem__label {
  position: absolute;
  top: 12px;
  right: 24px;
  display: inline-block;
  padding: 0 14px;
  height: 25px;
  font: 13px/25px $circe-bold-extra;
  color: $white;
  text-align: center;
  background-color: #E72081;
  border-radius: 100px;
}

.noticesListItem__date {
  margin: 0 75px 11px 0;
  color: #4F636F;
}

.noticesListItem__info {
  color: $black;
}



// header bottom
.header__linkCreate {
  width: 185px;
  height: 40px;
  line-height: 42px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -21px;

  &:before {
    content: '';
    margin-top: -2px;
    margin-right: 11px;
    @include background-image(plus_white, 13px, 13px);
    vertical-align: middle;
  }
}



// submenu
.headerSubmenu {
  height: 105px;
  padding: 30px 0 15px;
  border-top: 1px solid $gray;
}

.submenuTitle {
  position: relative;
  padding: 0 400px 0 75px;
}

.submenuTitle__imgWrapper {
  position: absolute;
  top: -3px;
  left: 0;

  .icon--signed {
    width: 52px;
    height: 52px;
    background-color: $green;
    border-radius: 50%;
  }

  .icon--onsign {
    width: 52px;
    height: 52px;
    background-color: #FEBF54;
    border-radius: 50%;
  }
}

.submenuTitle__title {
  line-height: 30px;
}

.submenuTitle__info {
  font-size: 14px;
  line-height: 19px;
  color: #737373;
}



.submenu {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 400px;
  text-align: justify;
  line-height: 0;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }
}

.submenuItem {
  display: inline-block;
}

.submenuItem__link {
  display: inline-block;
  padding: 0 3px 10px;
  font: 14px/19px $circe-regular;
  color: #B1B1B1;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  &:hover {
    color: $black;
  }

  &.is-active {
    cursor: default;
    color: $black;
    border-bottom-color: $violet;
  }
}
