.note {
  position: fixed;
  z-index: 98;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  box-shadow: 0 0 20px 0 rgba(0,77,255,0.08);

  &.note--black {
    color: $white;
    background: #383838;
    box-shadow: none;
  }

  &.note--yellow {
    background: #FEF8ED;
    box-shadow: none;
  }
}

.note__cols {
  min-height: 92px;
  align-items: center;
  flex-wrap: nowrap;
}

@media ($mobile) {
  .note {
    background-color: transparent;

    &.note--black {
      background-color: transparent;
    }

    &.note--yellow {
      background-color: transparent;
    }
  }

  .noteInfo {
    display: none;
  }
}



// info
.noteInfo {
  @include flex-basis(60%);
}

.noteInfoIn {
  position: relative;
  min-height: 44px;
  padding: 10px 10px 10px 65px;
}

.noteInfoIn--noIcon {
  padding-left: 0;
}

.noteInfo__icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -21px;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  &.icon--info {
    background-color: #2196F3;
  }

  &.icon--signed {
    background-color: $green;
  }

  &.icon--onsign {
    background-color: #FEBF54;
  }

  &.icon--edit_white {
    background-color: #2196F3;
  }
}

.noteInfoText {
  font-size: 14px;
  line-height: 22px;
}

.noteInfoText__date {
  display: inline-block;
}

.noteInfoText__title {
  font-family: $circe-bold;
}



// buttons
.noteButtonsWrapper {
  @include flex-basis(40%);
  justify-content: flex-end;

  .instructionsParticipants {
    width: auto;
    padding-right: 0;
  }
}

.noteButtonsWrapper__button {
  width: auto;
  margin-right: 20px;
  padding: 0 25px 0 45px;

  &:last-child {
    margin-right: 0;
  }

  .icon--signed {
    @include background-image(ok_white, 13px, 13px);
  }
}

@media ($mobile) {
  .noteButtonsWrapper {
    @include flex-basis(100%);
    justify-content: center;
  }

  .noteButtonsWrapper__button {
    &.linkButton--violet {
      box-shadow: 0 4px 10px 0 rgba(194,95,189,0.60);
    }
  }
}



// signed
.noteColButtons {
  text-align: center;

  .linkButton {
    width: auto;
    padding-right: 30px;

    &:hover {
      .linkButton__icon {
        transform: rotate(180deg);
        transition: transform $transition-normal;
      }
    }
  }

  .linkButton__icon {
    transform: none;
    top: 13px;
  }
}

.noteSignedInfo {
  text-align: right;

  .icon--signed {
    margin-right: 15px;
    background-size: 13px 13px;
    width: 29px;
    height: 29px;
    background-color: #CDDC39;
    border-radius: 50%;
  }
}

.noteSignedInfo__date {
  font-size: 16px;
}
