.note {
  position: fixed;
  z-index: 98;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  box-shadow: 0 0 20px 0 rgba(0,77,255,0.08);

  &.note--black {
    color: $white;
    background: #383838;
    box-shadow: none;
  }

  &.note--yellow {
    background: #FEF8ED;
    box-shadow: none;
  }
}

.note__cols {
  min-height: 92px;
  align-items: center;
  flex-wrap: nowrap;
}



// info
.noteInfo {
  @include flex-basis(60%);
}

.noteInfoIn {
  position: relative;
  min-height: 44px;
  padding: 10px 20px 10px 65px;
}

.noteInfo__icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -21px;
  width: 42px;
  height: 42px;
  background-color: #2196F3;
  border-radius: 50%;
}

.noteInfo__text {
  font-size: 14px;
  line-height: 22px;
}

.noteInfo__date {
  display: inline-block;
}



// buttons
.noteButtonsWrapper {
  @include flex-basis(40%);
  justify-content: flex-end;
}

.noteButtonsWrapper__button {
  width: auto;
  margin-right: 20px;
  padding: 0 25px 0 45px;

  &:last-child {
    margin-right: 0;
  }
}
