.pieChartWrapper {
  margin-top: 40px;
}

#piechart {
  flex-basis: 220px;
  height: 220px;
  font-size: 16px;
  font-family: $circe-regular;
}

.pieLegend {
  margin-left: 65px;
  flex-basis: 60%;
  align-content: center;
}

.piePerson {
  margin: 6px 0;
}

.piePersonIn {
  position: relative;
  padding: 15px 10px 13px 100px;
  border-radius: 5px;
  background-color: $white;
  cursor: pointer;
  transition: box-shadow $transition-normal, z-index $transition-normal;

  &:hover {
    z-index: 20;
    box-shadow: 5px 5px 15px 0 rgba(0,77,255,0.08);
  }

  &.is-disabled {
    cursor: default;
    box-shadow: none;
    opacity: 0.2;
  }
}

.piePerson__percentage {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 20px;
  font: 30px/40px $circe-light;
}

.piePerson__name {
  font: 16px/19px $circe-regular;
}

.piePerson__info {
  font: 14px/19px $circe-regular;
  color: #737373;
}
