doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title DealDep - projects new
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../css/app.css"
  body
  
    .header
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          h1.header__title Создание нового проекта
    
    section.addProjectSection
      .contentIn
      
        .addProject
        
          .addProjectSteps
            .addProjectStep
              .addProjectStep__number 1
              .addProjectStep__info О проекте
            .addProjectStep
              .addProjectStep__number 2
              .addProjectStep__info Участники
    
    
  
  
  script src="../js/app.js"
