doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0"
    title DealDep - projects participants unsigned
    meta name="description" content=""
    link rel="stylesheet" media="all" href="../css/app.css"
  body

    .header
      .headerIn
        .contentIn
          a.header__logo.icon.icon--logo href="/"
          .menu
            a.menu__link.is-active href="#" Мои проекты
            a.menu__link href="#" Мой профиль
          .logined
            .loginedUser
              span.loginedUser__name Гужиков П. А.
              img.loginedUser__avatar src="../img/avatars/avatar_pavel.png"
            a.notices href="#"
              span.notices__bell.icon.icon--bell
      .headerSubmenu
        .contentIn
          .submenuTitle
            .submenuTitle__imgWrapper.imgWrapper
              span.icon.icon--test
            h1.submenuTitle__title.titleMain  Мои проекты
            p.submenuTitle__info Не подписано
          ul.submenu
            li.submenuItem
              a.submenuItem__link.is-active href="/projects/projects_participants_unsigned.html" Участники и доли
            li.submenuItem
              a.submenuItem__link href="/projects/projects_dogovor_unsigned.html" Договоренности
            li.submenuItem
              a.submenuItem__link href="/projects/projects_yurlitsa_unsigned.html" Юрлица

    .contentWrapperTop
      .projectInfo.bgWhite
        .contentIn
          .instructions
            .buttonContainer
              a.linkButton.linkButton--blue.linkButton--icon href="#"
                | отправить на подпись
                span.linkButton__icon.icon.icon--sign
              a.linkButton.linkButton--icon href="#"
                | редактировать
                span.linkButton__icon.icon.icon--edit_black
            .instructions__info
              | Теперь, когда проект создан, Вам нужно подписать его
              |  у всех участников. Пока проект не подписан,
              |  его можно отредактировать

      .docs.tab-container
        .contentIn
          .titleMain
            | Документы
            ul.submenu.docTabs.tab-link-container
              li.submenuItem
                a.submenuItem__link.tab-link.is-active href="#" Все документы
              li.submenuItem
                a.submenuItem__link.tab-link href="#" Редактируемые
              li.submenuItem
                a.submenuItem__link.tab-link href="#" На подписи
              li.submenuItem
                a.submenuItem__link.tab-link href="#" Заверенные

          .tab-content
            .empty
              .emptyIn
                .empty__imgWrapper.imgWrapper
                  img.imgWrapper__img src="../img/icons/svg/docs.svg"
                .empty__title Здесь будут все Ваши документы, относящиеся к проекту.
                .empty__info Добавить их можно будет после подписания проекта.
                a.empty__link.linkButton.linkButton--blue.linkButton--icon href="#"
                  | отправить на подпись
                  span.linkButton__icon.icon.icon--sign

          .tab-content
            .empty
              .emptyIn
                .empty__imgWrapper.imgWrapper
                  img.imgWrapper__img src="../img/icons/svg/docs.svg"
                .empty__title Здесь будут все Ваши документы, относящиеся к редактируемым.
                .empty__info Добавить их можно будет после подписания проекта.
                a.empty__link.linkButton.linkButton--blue.linkButton--icon href="#"
                  | отправить на подпись
                  span.linkButton__icon.icon.icon--sign

          .tab-content
            .empty
              .emptyIn
                .empty__imgWrapper.imgWrapper
                  img.imgWrapper__img src="../img/icons/svg/docs.svg"
                .empty__title Здесь будут все Ваши документы перед подписанием.
                .empty__info Добавить их можно будет перед подписанием проекта.
                a.empty__link.linkButton.linkButton--blue.linkButton--icon href="#"
                  | отправить на подпись
                  span.linkButton__icon.icon.icon--sign

          .tab-content
            .empty
              .emptyIn
                .empty__imgWrapper.imgWrapper
                  img.imgWrapper__img src="../img/icons/svg/docs.svg"
                .empty__title Здесь будут все Ваши документы, заверенные Бонго.
                .empty__info Добавить их можно будет после подписания проекта.
                a.empty__link.linkButton.linkButton--blue.linkButton--icon href="#"
                  | отправить на подпись
                  span.linkButton__icon.icon.icon--sign





  script src="../js/app.js"
