.has-error {
  .selectize-control.single .selectize-input {
    border: 1px solid #DF9595;
  }

  input, textarea {
    border: 1px solid #DF9595;

    &::-webkit-input-placeholder {
      color: #DF9595;
    }

    &::-moz-placeholder {
      color: #DF9595;
    }

    &:-moz-placeholder {
      color: #DF9595;
    }

    &:-ms-input-placeholder {
      color: #DF9595;
    }
  }
}
