.fieldWrapper--check {
  margin-bottom: 18px;
  padding-left: 35px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 11px;
  }

  .fieldWrapper__input {
    display: none;
  }
}

.fieldWrapper__checkInfo {
  font-size: 14px;
  line-height: 20px;
  color: $black;
  transition: color $transition-normal;

  .fieldWrapper__input:disabled ~ & {
    color: #CDCDCD;
    cursor: default;
  }
}

.fieldWrapper__radioIcon {
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  transition: border-color $transition-normal, border-width $transition-fast;

  .fieldWrapper__input:checked ~ & {
    border: 5px solid $violet;
  }
}
