.formBlock--aside {
  margin: 0;
  padding: 7px 0 21px;

  .formBlock {
    margin-top: 0;
    padding-top: 0;
  }

  .formBlock__title {
    float: left;
    width: 240px;
  }

  .formBlockIn {
    margin-left: 290px;
  }
}



// toggle blocks
.formblock-toggle-hidden {
  display: none;
}
