.formBlockTooltipWrapper {
  position: relative;
  margin-left: 6px;
  width: 17px;
  height: 17px;
  border: 1px solid $blue;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: background-color $transition-normal, background-image $transition-normal;

  &:hover {
    @include background-image(question_white, 5px, 7px);
    width: 17px;
    height: 17px;
    background-color: $blue;

    .formBlockTooltip {
      @include show();
    }
  }
}

.formBlockTooltip {
  position: absolute;
  left: -38px;
  bottom: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 350px;
  font: 14px/20px $circe-regular;
  color: $black;
  background: $white;
  box-shadow: 0 0 14px 0 rgba(0,77,255,0.10);
  border-radius: 3px;
  @include hide();

  .triangleShadow--bottom {
    left: 47px;

    .triangleShadow__helper {
      &:after {
        box-shadow: 0 0 14px 0 rgba(0,77,255,0.10);
      }
    }
  }
}
