.formBlock--aside {
  margin: 0;
  padding: 7px 0 21px;

  .formBlock {
    margin-top: 0;
    padding-top: 0;
  }

  .formBlock--tooltip,
  .formBlock.formBlock--tooltip.formblock-toggle-hidden {
    margin: 0 0 22px -15px;
    padding: 17px 15px 0;
  }

  .fieldWrapper--check + .formblock-toggle-hidden {
    margin: -12px 0 5px;

    .formBlock--mt {
      margin-top: 10px;
    }
  }

  .formBlock__title {
    float: left;
    width: 240px;
  }

  .formBlockIn {
    margin-left: 290px;
  }

  .share {
    height: auto;
    margin-bottom: 16px;

    .shareLock {
      top: auto;
      bottom: 0;
    }

    .formTitle,
    .formBlock--slider {
      float: none;
      width: 100%;
    }

    .formTitle {
      margin-bottom: 7px;
      padding-top: 0;
      font: 14px/20px $circe-regular;
    }
  }

  .linkButton--icon {
    width: auto;
  }
}



// toggle blocks
.formblock-toggle-hidden {
  display: none;
}
