.form {

}

.form--content {
  max-width: 784px;
  margin: 0 auto;
}

.formIn {
  margin: 0 0 35px;
  background: $white;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.08);
  border-radius: 5px;
}

.formContent {
  padding: 24px 25px 18px;
}

.formTitle {
  position: relative;
  margin: 0 0 4px;
  font-size: 16px;
  font-family: $circe-bold;
}

.formTitle--center {
  text-align: center;
}

.formTitle__avatar {
  margin-right: 18px;
  width: 40px;
  vertical-align: middle;
  border-radius: 50%;
}

.formTitle__hint {
  color: #878787;
}

.formTitle__remove {
  position: absolute;
  top: 10px;
  right: 0;
  padding-left: 20px;
  font: 10px/20px $circe-bold;
  text-transform: uppercase;
  color: $black;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    @include background-image(cross_red, 10px, 10px);
  }
}

.form__hr {
  display: block;
  margin: 30px -40px;
  height: 1px;
  background-color: $gray-light;
}



// form block
.formBlock {
  margin: 10px 0 0;
  padding: 35px 0 0;
}

.formBlock__title {
  font: 14px/20px $circe-bold;
}

.formBlock__title--indentTop {
  padding-top: 13px;
}

.fieldWrapper {
  position: relative;
  display: block;
}

.fieldWrapper__label {
  display: inline-block;
  position: absolute;
  top: -27px;
  left: 0;
  cursor: pointer;
}

.fieldWrapper__input {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  background-color: $input-bg;
  border-radius: 3px;
}

textarea.fieldWrapper__input {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 170px;
  max-height: 250px;
  min-height: 130px;
  padding: 13px 15px;
  background: #EFF1F5;
  border-radius: 3px;
}

.fieldWrapper__dimension {
  position: absolute;
  top: 13px;
  right: 15px;
}



// form block cols
.formBlockWrapper {
  margin-right: -20px;
  @include clearfix();
}

.formBlock--2 {
  width: 50%;
  float: left;
  padding-right: 20px;
}

.formBlock--4 {
  width: 25%;
  float: left;
  padding-right: 20px;
}
