/*** persons avatar ***/
.formBlock--avatar {
  padding: 25px 0 0;
  text-align: center;

  .linkButton {
    width: 157px;
  }
}

.fieldWrapper__input--avatar {
  display: none;
}

.formBlock__accountAvatar {
  display: block;
  max-width: 160px;
  width: 100%;
  margin: 0 auto 35px;
}



/*** persons info ***/
.formPersonInfo {
  position: relative;
  margin: 23px 0 27px;
  padding-left: 110px;
}

.formPersonInfo__avatar {
  position: absolute;
  top: 2px;
  left: 0;
  width: 80px;
  border-radius: 50%;
}

.formPersonInfoAbout {
  position: relative;
  padding: 22px 0 0;
  font: 12px/19px $circe-regular;
  color: #6D6D6D;
}

.formPersonInfoAbout__social {
  position: absolute;
  top: 0;
  left: 0;
}

@media ($mobile) {
  .formPersonInfo {
    margin: 22px 0 20px;
    padding-left: 0;
    text-align: center;
  }

  .formPersonInfo__avatar {
    position: static;
  }

  .formPersonInfoAbout {
    padding-top: 18px;
  }

  .formPersonInfoAbout__social {
    top: -22px;
    left: 50%;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border-radius: 50%;
  }
}
