.form {

}

.form--content {
  max-width: 784px;
  margin: 0 auto;
}

.formIn {
  position: relative;
  margin: 0 0 35px;
  background: $white;
  box-shadow: 0 2px 20px 0 rgba(0,77,255,0.08);
  border-radius: 5px;

  &:before {
    content: '';
    opacity: 0;
    transition: opacity $transition-normal;
  }

  &.is-ok {
    &:before {
      content: '';
      opacity: 1;
      position: absolute;
      top: 40px;
      right: 40px;
      @include background-image(ok_green, 44px, 44px);
    }
  }
}

.formHidden {
  display: none;

  .formContent & {
    margin: 31px -25px 0;
    padding: 22px 25px 0;
    border-top: 1px solid $gray;
  }
}

.formContent {
  padding: 24px 25px 18px;
}

.formTitle {
  position: relative;
  margin: 0 0 4px;
  font-size: 16px;
  font-family: $circe-bold;
}

.formTitle--big {
  font-size: 18px;
}

.formTitle--center {
  text-align: center;
}

.formTitle__avatar {
  margin-right: 18px;
  width: 40px;
  vertical-align: middle;
  border-radius: 50%;
}

.formTitle__hint {
  color: #878787;
}

.formTitle__remove {
  position: absolute;
  top: 10px;
  right: 0;
  padding-left: 20px;
  font: 10px/20px $circe-bold;
  text-transform: uppercase;
  color: $black;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    @include background-image(cross_red, 10px, 10px);
  }
}

.formInfo {
  margin: 10px auto 15px;
}

.form__hr {
  display: block;
  margin: 30px -40px;
  height: 1px;
  background-color: $gray-light;
}



// form block
.formBlock {
  margin: 10px 0 0;
  padding: 35px 0 0;

  &.formBlock--mb {
    margin-bottom: 24px;
  }
}

.formBlock--tooltip {
  position: relative;
  margin: 0 auto 15px;
  padding: 15px;
  border: 1px solid $gray-light;
  border-radius: 5px;

  .triangleShadow--top {
    left: 23px;

    .triangleShadow__helper:after {
      top: 25px;
      box-shadow: -1px -1px 0px 0px $gray-light;
    }
  }
}

.formBlock__title {
  font: 14px/20px $circe-bold;

  span {
    display: inline-block;
    font: 14px/20px $circe-regular;
    color: #A4A4A4;
  }
}

.formBlock__title--indentTop {
  padding-top: 13px;
}

.formBlock__title--attention {
  color: #E05F5F;
}

.fieldWrapper {
  position: relative;
  display: block;
}

.fieldWrapper__label {
  display: inline-block;
  position: absolute;
  top: -27px;
  left: 0;
  cursor: pointer;
}

.fieldWrapper__toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  @include background-image(eye_closed, 22px, 15px);
  transition: background-image $transition-fast;

  &.is-visible {
    @include background-image(eye, 22px, 15px);
  }
}

.fieldWrapper__input {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  background-color: $input-bg;
  border-radius: 3px;
}

textarea.fieldWrapper__input {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 170px;
  max-height: 250px;
  min-height: 130px;
  padding: 13px 15px;
  background: #EFF1F5;
  border-radius: 3px;
}

.fieldWrapper__dimension {
  position: absolute;
  top: 13px;
  right: 15px;
}

.fieldWrapper__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}



// form block cols
.formBlockWrapper {
  margin-right: -20px;
  @include clearfix();
}

.formBlockWrapper--select {
  overflow: visible;
}

.formBlock--2 {
  width: 50%;
  float: left;
  padding-right: 20px;
}

.formBlock--4 {
  width: 25%;
  float: left;
  padding-right: 20px;
}



// adaptive form
@media ($mobile) {
  .form--adaptive {
    margin: 0 -20px;

    .formIn {
      margin-bottom: 20px;
      box-shadow: none;
    }

    .formContent {
      padding-left: 20px;
      padding-right: 20px;
    }

    .formBlock--2,
    .formBlock--4 {
      float: none;
      width: 100%;
    }

    .personButton {
      border-bottom: 1px solid $gray;
    }

    .buttonContainer {
      padding: 0 20px;
    }

    .buttonContainer__button {
      width: 100%;
      margin: 0 0 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
