.formBlock--aside {
  margin: 0;
  padding: 7px 0 21px;

  .formBlock {
    margin-top: 0;
    padding-top: 0;
  }

  .formBlock__title {
    float: left;
    width: 240px;
  }

  .formBlockIn {
    margin-left: 290px;
  }

  .share {
    height: auto;
    margin-bottom: 16px;

    .shareLock {
      top: auto;
      bottom: 0;
    }

    .formTitle,
    .formBlock--slider {
      float: none;
      width: 100%;
    }

    .formTitle {
      margin-bottom: 7px;
      padding-top: 0;
      font: 14px/20px $circe-regular;
    }
  }
}



// toggle blocks
.formblock-toggle-hidden {
  display: none;
}
