.fieldWrapper__checkboxIcon {
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $input-bg;
  border-radius: 3px;
  transition: background-color $transition-normal;

  &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    @include background-image(ok_checkbox, 13px, 12px);
    @include hide();
  }

  .fieldWrapper__input:checked ~ & {
    background-color: $violet;

    &:before {
      @include show();
    }
  }
}
